{{- if eq .chezmoi.os "linux" }}
Host github.com
  HostName github.com
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes
{{- else if eq .chezmoi.os "darwin" }}
Include /Users/adam/.colima/ssh_config
IdentityFile ~/.ssh/adam-jijo-swym

# default account: adam-jijo-swym
Host github.com
  HostName github.com
  IdentityFile ~/.ssh/adam-jijo-swym
  User git
  AddKeysToAgent yes
  UseKeychain yes
  # IdentitiesOnly yes

# personal account: lemonnuggets
Host github-lemonnuggets
  HostName github.com
  IdentityFile ~/.ssh/lemonnuggets
  User git
  AddKeysToAgent yes
  UseKeychain yes
  # IdentitiesOnly yes

Include config-swym-hosts
{{- end }}
