[core]
	editor = "nvim"
[init]
	defaultBranch = main
[column]
	ui = auto
[branch]
	sort = -committerdate
[push]
	autoSetupRemote = true
{{- if eq .chezmoi.os "linux" }}
[user]
	name = lemonnuggets
	email = 63046776+lemonnuggets@users.noreply.github.com
	signingKey = {{ .gpg.lemonnuggets }}
[commit]
	gpgsign = true
[credential]
	credentialStore = gpg
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
{{- else if eq .chezmoi.os "darwin" }}
[user]
	name = lemonnuggets
	email = 63046776+lemonnuggets@users.noreply.github.com
	signingKey = {{ .gpg.lemonnuggets }}
[commit]
	gpgsign = true
[includeIf "gitdir:~/Development/work/"]
	path = ~/.config/git/config.work
{{- end }}
