[core]
	editor = "nvim"
[init]
	defaultBranch = main
[column]
	ui = auto
[branch]
	sort = -committerdate
[push]
	autoSetupRemote = true
{{ if eq .chezmoi.os "linux" }}
[user]
	name = lemonnuggets
	email = 63046776+lemonnuggets@users.noreply.github.com
	signingkey = A7C8A3A7AB63DD3E
[commit]
	gpgsign = true
[credential]
	credentialStore = gpg
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
{{ else if eq .chezmoi.os "darwin" }}
[user]
	name = lemonnuggets
	email = 63046776+lemonnuggets@users.noreply.github.com
	signingKey = ~/.ssh/lemonnuggets.pub
[commit]
	gpgsign = true
[gpg]
	format = ssh
[includeIf "gitdir:~/Development/work/"]
	path = ~/.config/git/config.work
{{ end }}
