source "$ZDOTDIR/env.zsh"
source "$ZDOTDIR/alias.zsh"
source "$ZDOTDIR/functions.zsh"
fpath=($ZDOTDIR/completions "${fpath[@]}")
{{- if eq .tools.node_version_manager "asdf" }}
fpath=(${ASDF_DIR}/completions $fpath)
{{- end }}

# Lines configured by zsh-newuser-install
HISTFILE="$XDG_STATE_HOME/.zhistory"
HISTSIZE=10000
SAVEHIST=2000000
setopt autocd
bindkey -v
# End of lines configured by zsh-newuser-install

zstyle :compinstall filename "$ZDOTDIR/.zshrc"

zstyle ':completion:*:*:docker:*' option-stacking yes
zstyle ':completion:*:*:docker-*:*' option-stacking yes

autoload -Uz compinit
compinit

setopt INC_APPEND_HISTORY
setopt EXTENDED_HISTORY
setopt HIST_FIND_NO_DUPS

{{- if eq .tools.node_version_manager "nvm" }}
# nvm
export NVM_DIR="$HOME/.config/nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
{{- else if eq .tools.node_version_manager "fnm" }}
# fnm
eval "$(fnm env --use-on-cd)"
{{- else if eq .tools.node_version_manager "asdf" }}
{{- else }}
# .tools.node_version_manager unset
{{- end }}

# source "$ZDOTDIR/prompt.zsh"
eval "$(starship init zsh)"

[ -f $ZDOTDIR/.fzf.zsh ] && source $ZDOTDIR/.fzf.zsh

eval "$(zoxide init zsh --cmd cd)"
. "$ASDF_DATA_DIR/asdf.sh"

[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

{{- if eq .chezmoi.os "darwin" }}
# for azure cli autocomplete
autoload bashcompinit && bashcompinit
source $(brew --prefix)/etc/bash_completion.d/az
{{- end }}
