[font]
size = {{.font.size}}

[font.bold]
family = "{{.font.face}}"
style = "Bold"

[font.bold_italic]
family = "{{.font.face}}"
style = "Bold Italic"

[font.italic]
family = "{{.font.face}}"
style = "Italic"

[font.normal]
family = "{{.font.face}}"
style = "Regular"

[general]
import = [
    "~/.config/alacritty/gruvbox_dark.toml"
]
